<template>
  <style>
    :host {
      --size: var(--box-size, 5cm);
      --width: var(--box-width, var(--size));
      --height: var(--box-height, var(--size));
      --depth: var(--box-depth, var(--size));
      --color: var(--box-color, black);
      --label-color: var(--box-label-color, black);
      --gradient: var(--box-gradient, lavender);
      --fold: var(--box-fold);
      --transition: var(--box-transition);
      --anchor-transition: var(--box-anchor-transition);
      --face-transition: var(--box-face-transition, var(--box-transition));

      color: var(--label-color);
      transform-style: preserve-3d;
      width: var(--width);
      height: var(--height);
      display: grid;
      justify-content: center;
      grid-template-areas:
        "left front right"
        ". bottom ."
        ". back ."
        ". top .";
      transition: var(--box-transition);
    }

    .face {
      transform-style: preserve-3d;
      transition: var(--box-anchor-transition);
    }

    .face::before {
      content: "";
      display: block;
      width: var(--size);
      height: var(--size);
      background-color: var(--color);
      background-image: radial-gradient(
        ellipse at center,
        var(--gradient),
        transparent 90%
      );
      transition: var(--box-face-transition);
    }

    .face ::slotted(*) {
      position: absolute;
      inset: 0;
      margin-inline: auto;
      width: var(--width);
      height: var(--height);
      display: grid;
      place-items: center;
    }

    .front {
      position: relative;
    }

    .front::before {
      width: var(--width);
      height: var(--height);
    }

    .left {
      transform-origin: right;
      rotate: var(--fold, y -90deg);
    }

    .left::before {
      width: var(--depth);
      height: var(--height);
    }

    .left ::slotted(*) {
      width: var(--depth);
      height: var(--height);
    }

    .right {
      transform-origin: left;
      rotate: var(--fold, y 90deg);
    }

    .right::before {
      width: var(--depth);
      height: var(--height);
    }

    .right ::slotted(*) {
      width: var(--depth);
      height: var(--height);
    }

    .bottom {
      transform-origin: top;
      rotate: var(--fold, x -90deg);
    }

    .bottom::before {
      width: var(--width);
      height: var(--depth);
    }

    .bottom ::slotted(*) {
      width: var(--width);
      height: var(--depth);
    }

    .back {
      --stagger: 200ms;
      transform-origin: top;
      rotate: var(--fold, x -90deg);
    }

    .back::before {
      width: var(--width);
      height: var(--height);
    }

    .top {
      --stagger: 400ms;
      transform-origin: top;
      rotate: var(--fold, x -90deg);
    }

    .top::before {
      width: var(--width);
      height: var(--depth);
    }

    .top ::slotted(*) {
      width: var(--width);
      height: var(--depth);
    }
  </style>
  <div class="face left">
    <slot name="left"></slot>
  </div>
  <div class="face front">
    <div class="face bottom">
      <div class="face back">
        <div class="face top">
          <slot name="top"></slot>
        </div>
        <slot name="back"></slot>
      </div>
      <slot name="bottom"></slot>
    </div>
    <slot name="front"></slot>
  </div>
  <div class="face right">
    <slot name="right"></slot>
  </div>
</template>
