<template>
  <style>
    :host {
      --size: var(--box-size, 5cm);
      --width: var(--box-width, var(--size));
      --height: var(--box-height, var(--size));
      --depth: var(--box-depth, var(--size));
      --color: var(--box-color, black);
      --label-color: var(--box-label-color, black);
      --gradient: var(--box-gradient, lavender);
      --fold: var(--box-fold);

      color: var(--label-color);
      transform-style: preserve-3d;
      pointer-events: none;
      width: var(--width);
      height: var(--height);
      display: grid;
      justify-content: center;
      grid-template-areas:
        "left front right"
        ". bottom ."
        ". back ."
        ". top .";
      transition: width 200ms linear, height 200ms linear;
    }

    .face {
      transform-style: preserve-3d;
      transition: rotate 500ms var(--stagger, 0ms) ease-in-out;
    }

    .face::before {
      content: "";
      display: block;
      width: var(--size);
      height: var(--size);
      background-color: var(--color);
      background-image: radial-gradient(
        ellipse at center,
        var(--gradient),
        transparent 90%
      );
      transition: width 200ms linear, height 200ms linear;
    }

    .front {
      position: relative;
    }

    .front::before {
      width: var(--width);
      height: var(--height);
    }

    .front ::slotted([slot="label"]) {
      position: absolute;
      inset: 0;
      margin-inline: auto;
      width: var(--width);
      height: var(--height);
      display: grid;
      place-items: center;
    }

    .left {
      transform-origin: right;
      rotate: var(--fold, y -90deg);
    }

    .left::before {
      width: var(--depth);
      height: var(--height);
    }

    .right {
      transform-origin: left;
      rotate: var(--fold, y 90deg);
    }

    .right::before {
      width: var(--depth);
      height: var(--height);
    }

    .bottom {
      transform-origin: top;
      rotate: var(--fold, x -90deg);
    }

    .bottom::before {
      width: var(--width);
      height: var(--depth);
    }

    .back {
      --stagger: 200ms;
      transform-origin: top;
      rotate: var(--fold, x -90deg);
    }

    .back::before {
      width: var(--width);
      height: var(--height);
    }

    .top {
      --stagger: 400ms;
      transform-origin: top;
      rotate: var(--fold, x -90deg);
    }

    .top::before {
      width: var(--width);
      height: var(--depth);
    }
  </style>
  <div class="face left"></div>
  <div class="face front">
    <div class="face bottom">
      <div class="face back">
        <div class="face top"></div>
      </div>
    </div>
    <slot name="label"></slot>
  </div>
  <div class="face right"></div>
</template>
