@import url("/global.css");

:root {
  --perspective: 50cm;
  --box-size: 5cm;
  --box-color: var(--c-dark);
  --box-label-color: var(--c-light);
  --box-gradient: color-mix(in srgb, var(--c-light), var(--c-dark));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
